@import '../../sass/variables';

footer {
  color: $primaryGrey;
  font-size: calc(12px + 0.8vmin);
  text-align: center;
}

hr {
  width: 75%;
  height: 2px;
  border-width: 0;
  background-color: $primaryGrey;
  margin-bottom: 1.5%;
}

.authors {
  display: block;
  margin-top: 6px;
}
