@mixin font-super-bold($color) {
  text-shadow: -0.3px 0 $color, 0 0.3px $color, 0.3px 0 $color, 0 -0.3px $color, -0.3px -0.3px $color,
    0.3px 0.3px $color, -0.3px 0.3px $color, 0.3px -0.3px $color;
}

@mixin hover($color) {
  background-color: darken($color, 20);
  border-color: darken($color, 20);
}
