// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$primaryPink: #f88dd5;
$secondaryPink: #ffe3f6;
$primaryWhite: #f4f4f4;
$primaryBlack: #1a1a1a;
$secondaryWhite: #f6f6f6;
$secondaryBlack: #2e2e2e;
$tertiaryWhite: #b7b7b7;
$tertiaryBlack: #454545;
$primaryGrey: #727272;
$shadowCol: hsla(0, 0%, 3%, 0.2);

// Global
$body-bg-color: $primaryBlack;
$body-text-color: $primaryWhite;
$body-font-family: 'Work Sans', sans-serif;
$body-font-size: calc(18px + 3vmin);

// Buttons
$button-font-family: 'Work Sans', sans-serif;
$button-editor-bg-color: $primaryPink;
$button-editor-color: $primaryBlack;
$button-upload-bg-color: $secondaryWhite;
$button-upload-color: $primaryBlack;

// Scroll Down Arrow
$scroll-down-arrow-color: $secondaryBlack;

// Editor
$border-radius: 12px;
$border-radius-small: 4px;
$drop-shadow: drop-shadow(0 0 10px $shadowCol);
$border-grey: 2px solid #272727;
$svg-pink-filter: invert(70%) sepia(78%) saturate(626%) hue-rotate(284deg) brightness(106%) contrast(94%);
