// Colors
$primaryPink: #f88dd5;
$primaryWhite: #f4f4f4;
$primaryBlack: #1e1e1e;
$secondaryWhite: #f6f6f6;
$secondaryBlack: #2e2e2e;
$tertiaryWhite: #b7b7b7;

// Global
$body-bg-color: $primaryBlack;
$body-text-color: $primaryWhite;
$body-font-family: 'Work Sans', sans-serif;
$body-font-size: calc(18px + 3vmin);

// Buttons
$button-font-family: 'Work Sans', sans-serif;
$button-editor-bg-color: $primaryPink;
$button-editor-color: $primaryBlack;
$button-upload-bg-color: $secondaryWhite;
$button-upload-color: $primaryBlack;

// Scroll Down Arrow
$scroll-down-arrow-color: $secondaryBlack;

// Editor
$border-radius: 8px;
$border-radius-small: 2px;
