// Colors
$primaryPink: #f88dd5;
$primaryWhite: #f4f4f4;
$primaryBlack: #131313;
$secondaryWhite: #f6f6f6;
$secondaryBlack: #2e2e2e;
$tertiaryWhite: #b7b7b7;
$tertiaryBlack: #454545;
$primaryGrey: #727272;
$shadowCol: hsla(0, 0%, 3%, 0.2);

// Global
$body-bg-color: $primaryBlack;
$body-text-color: $primaryWhite;
$body-font-family: 'Work Sans', sans-serif;
$body-font-size: calc(18px + 3vmin);

// Buttons
$button-font-family: 'Work Sans', sans-serif;
$button-editor-bg-color: $primaryPink;
$button-editor-color: $primaryBlack;
$button-upload-bg-color: $secondaryWhite;
$button-upload-color: $primaryBlack;

// Scroll Down Arrow
$scroll-down-arrow-color: $secondaryBlack;

// Editor
$border-radius: 12px;
$border-radius-small: 4px;
$drop-shadow: drop-shadow(0 0 10px $shadowCol);
$border-grey: 2px solid #242424;

