@import '../sass/variables';
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2% 3%;

  ::-moz-selection {
    /* Code for Firefox */
    color: $primaryWhite;
    background: $primaryPink;
  }

  ::selection {
    color: $primaryWhite;
    background: $primaryPink;
  }
}

.content-limiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 2% 10% 12%;
}

.normal-weight {
  font-weight: normal;
}

#uploadedImg {
  align-self: center;
  margin: 3% 0;
  max-width: 80vw;
  max-height: 60vh;
  display: none;
}

h2 {
  color: $tertiaryWhite;
  font-weight: 300;
}

#logo-lp {
  max-width: 5%;
  position: fixed;
  cursor: pointer;
  z-index: 1;

  @media only screen and (max-width: 1023px) {
    max-width: 7%;
  }
}

// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
//   background-color: $secondaryBlack;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px $primaryBlack;
//   border-radius: 6px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgba($primaryPink, 0.7);
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $primaryPink;
// }

/* .scene {
    width: 80vw;
    height: 80vh;
    margin: 5% 0;
  } */
