@import '../../sass/variables';
.galleryItem {
  margin: 1%;
  border-radius: 1.5vmin;
  // max-width: 30%; // for 3 galleryItems
  max-width: 48%;
  border: 2px solid $body-bg-color;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 4px rgba($primaryPink, 0.2), 0 0 4px 4px rgba($primaryPink, 0.19);
    border: none;
  }

  &:active {
    //border: 2px solid rgba($primaryGrey, 0.6);
    border-left: 2px solid rgba($primaryPink, 0.6);
    border-right: 2px solid rgba($primaryPink, 0.6);
    border-bottom: 2px solid rgba($primaryPink, 0.6);
  }
}

@media only screen and (max-width: 1023px) {
  .galleryItem {
    margin: 3% 2%;

    max-width: 60%;
  }
}
