@import '../../sass/variables';
.galleryItem {
  margin: 1%;
  border-radius: 1.5vmin;
  max-width: 350px;
  border: 2px solid $body-bg-color;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba($secondaryWhite, 0.2), 0 6px 20px 0 rgba($tertiaryWhite, 0.19);
    border: none;
  }

  &:active {
    //border: 2px solid rgba($primaryGrey, 0.6);
    border-left: 2px solid rgba($primaryGrey, 0.6);
    border-right: 2px solid rgba($primaryGrey, 0.6);
    border-bottom: 2px solid rgba($primaryGrey, 0.6);
  }
}

@media only screen and (max-width: 969px) {
  .galleryItem {
    margin: 3% 1%;
  }
}
