@import '../../sass/variables';
.rotatingItemContainer {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  //background-color: rgba(red, 0.2);

  &:nth-child(1) {
    top: -30px;
    right: 1px;
  }
  &:nth-child(2) {
    top: 120px;
    right: 200px;
  }
  &:nth-child(3) {
    top: 240px;
    right: 1px;
  }
}

@media only screen and (max-width: 1023px) {
  .rotatingItemContainer {
    position: relative;
    margin: 10% auto;

    &:nth-child(1) {
      right: -100px;
    }
    &:nth-child(2) {
      top: -120px;
      right: 100px;
    }
    &:nth-child(3) {
      top: -240px;
      right: -100px;
    }
    // border-radius: 50%;
    // background-color: rgba(red, 0.2);
  }
}

.rotatingItem {
  width: 200px;
  height: 200px;
  border: 2px solid $secondaryBlack;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rotatingImg {
  max-width: 60%;
  max-height: 60%;
  pointer-events: none;
}

.bg {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}

.bgHover {
  opacity: 1;
}

.fadeIn {
  animation: fadeIn 0.1s ease-in;
}

.fadeOut {
  animation: fadeOut 0.1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
