* {
  box-sizing: border-box;
}

.Editor {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
}

.UItop {
    position: fixed;
    padding: 10px;
    top: 0;
    z-index: 2;
    pointer-events: none;

    .logo {
        pointer-events: auto;
        font-size: 0.6em;
        width: min-content;
        margin: 0;
    }
}

.UIbottom {
    position: fixed;
    bottom: 0;
    padding: 10px;
    z-index: 2;
    pointer-events: none;
}

