@import '../sass/variables';

.imageUI {
    box-sizing: border-box;
    position: fixed;
    margin-left: 20px;
    padding: 20px;
    border-radius: $border-radius;
    width: 330px;

    // background-color: rgb(248, 141, 213, 1);
    background-color: rgb(20, 20, 20, 0.9);
    font-size: 0.7em;

    // color: black;

    section {

        h1 {
            margin: 0;
            font-size: 1.3em;
            margin-bottom: 20px;
        }

        .option {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .title {
                font-size: 1.1em;
            }

            .content {

                color: black;

                input[type="range"] {
                    width: 100px;
                }

                // input[type=”range”]::-webkit-slider-thumb,
                // input[type=”range”]::-moz-range-thumb,
                // input[type=”range”]::-ms-thumb {
                // }

                input[type="checkbox"] {

                }

            }
        }
    }
}