@import '../sass/variables';

.placeImage {
    pointer-events: auto;
    margin-top: 10px;
    display: flex;
    height: 50px;

    .place {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 15px 5px 15px;
        
        background-color: $primaryBlack;
        color: $primaryWhite;
        border-radius: $border-radius $border-radius-small $border-radius-small $border-radius;
        border: none;

        font-family: $body-font-family;
        font-size: 0.6em;
        font-weight: 400;

        cursor: pointer;

        .imageContainer {
            margin-left: 6px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                margin-left: 5px;
                margin-right: 4px;
                border-radius: 2px;
                filter: drop-shadow(0 0 4px $secondaryBlack);
                border-radius: $border-radius-small;
            }
        }

  
    }

    .dropDown {
        padding: 3px;
        margin-left: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;

        background-color: $primaryBlack;
        color: $primaryWhite;
        border: none;
        border-radius: $border-radius-small $border-radius $border-radius $border-radius-small;

        .dropDownContainer {
            cursor: pointer;
            padding: 10px 0px;
            height: 100%;
            width: 30px;

            img {
                height: 100%;
            }
    
            img.left {
                transform: rotate(90deg);
                transition: transform 0.1s;
            }
            img.right {
                transform: rotate(-90deg);
                transition: transform 0.1s;
            }
        }
        
        .images {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 8px;

            .imageContainer {
                box-sizing: content-box;
                margin: 4px;
                // padding: 4px 0px;
                border-radius: 1px;
                height: 80%;

                cursor: pointer;

                opacity: 0.4;

                img {
                    padding: 0;
                    height: 100%;
                    border-radius: 2px;
                    // max-width: 40px;
                }
                

            }
            .imageContainer.selected {
                // border-bottom: 2px solid $secondaryWhite;
                // border-top: 2px solid $secondaryWhite;
                filter: drop-shadow(0 0 5px $tertiaryBlack);
                opacity: 1;
            }

        }




        label {
            // height: 100%;
            // width: 100%;

            height: 100%;
            width: 40px;

            cursor: pointer;

            .plus {
                padding: 12px 0px;
                height: 100%;
            }
        }
    }

}