@import '../sass/variables';

.sceneSettings {
    pointer-events: auto;
    margin-top: 10px;

    .settingsButton {
        margin-top: 10px;
        padding: 8px 14px;
        border-radius: $border-radius;
        border: none;
        background-color: $primaryBlack;
        color: $primaryWhite;
        filter: $drop-shadow;
        border: $border-grey;

        font-family: $body-font-family;
        font-size: 0.45em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        img {
            margin-left: 12px;
            width: 22px;
            height: 22px;
        }

        img.down{
            transform: none;
            transition: transform 0.1s;
        }

        img.up {
            transform: rotate(180deg);
            transition: transform 0.1s;
        }

    }

    .settingsButton:active {
        color: $primaryPink;

        img {
            filter: $svg-pink-filter;
        }
    }

    .settingsContent {
        margin-top: 2px;
        font-size: 0.4em;
        font-weight: 100;
        padding: 40px;
        background-color: $primaryBlack;
        border-radius: $border-radius;
        filter: $drop-shadow;
        border: $border-grey;
    }
}